.DS_Store
/portal/node_modules
/portal/public/hot
/portal/public/storage
/portal/storage/*.key
/portal/vendor
/portal/.idea
/portal/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.env
/_ide_helper.php
.phpunit.result.cache
.env
.env.backup
.phpunit.result.cache
fields_sample.json