/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
.DS_Store
/portal/node_modules
/portal/public/hot
/portal/public/storage
/portal/storage/*.key
/portal/vendor
/portal/.idea
/portal/.vscode
/portal/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.env
/portal/.env
/_ide_helper.php
.phpunit.result.cache
.env
.env.backup
.DS_Store
.phpunit.result.cache
fields_sample.json
.phpunit.result.cache
fields_sample.json
